body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
.face{
    background-color: #E554731A;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
head{
    border: 0px;

}
.title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    margin: 197px 97px 32px 240px;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 171px 32px 240px;
}
.bannerflower{
    width: 635px;
    height: 800px;
    margin-right: 240px;
    margin-bottom: -5px;
    margin-top: 50px;
}
.button1{
    padding: 20px 43px;
    border: 0px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 240px;
}
.section2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-top: 210px;
    margin-bottom: 24px;
}
.section2text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 640px 24px 640px;
}
.flowerparent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flowerbaground1{
    margin: 15px;
    width: 470px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.flowerbaground2{
    width: 470px;
    height: 538px;
    margin: 15px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.flowerbaground3{
    width: 470px;
    height: 538px;
    margin: 15px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.flower1{
    width: 310px;
    height: 428px;
    margin: 110px 78px 0px 76px;
}
.flower2{
    width: 370px;
    height: 370px; 
    margin: 117px 47px 51px 47px;
}
.flower3{
    width: 314px;
    height: 471px;
    margin: 67px 75px 0px 75px;
}
.flowercaption{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}
.section3{
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 200px 240px 200px 240px;
}
.section3element{
    justify-content: center;
    align-items: center;
    margin: 100px;
    text-align: center;
}
.section3text{
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}
.section4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    
}
.section4text{
    margin-left: 395px;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 594px;

}
.button2{
    padding: 20px 43px;
    border: 0px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section4image{
    width: 318px;
    height: 420px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 429px;
}
.section4head{
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
}
.section4description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
}
.themecolour{
    color: #E55473;
}
.section5head{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 200px;
}
.section5description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 663px;
}
.section5image{
    width: 342px;
    height: 396px;
    margin: 12px;
}
.flowercase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 228px;
}
.call2a{
    margin: 150px 240px;
    background-image: url('banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 486px;
    border-radius: 8px;
    text-align: center;
}
.call2ahead{
    padding-top: 122px;
    margin-bottom: 0px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.call2adescription{
    padding-top: 0px;
    padding-bottom: 40px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.mailbox{
    padding-left: 22px;
    width: 700px;
    height: 64px;
    border: 0px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button3{
    padding: 20px 43px;
    border: 0px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}
.boxandbutton{
    display: flex;
    justify-content: center;
}
footer{
    height: 449px;
    background: #111010;
    text-align: center;
    margin-top: 400px;
}
h2{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    padding-top: 128px;
    line-height: 5px;
}
.footerdescription{
    color: rgba(255, 255, 255, 0.90);
    width: 625px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 32px 648px;
}
.copy{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.Flowerparent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Flowerbaground1{
    margin: 15px;
    width: 300px;
    height: 438px;
    border-radius: 300px;
    background: rgba(167, 33, 98, 0.15);
}
.Flowerbaground2{
    width: 300px;
    height: 438px;
    margin: 15px;
    border-radius: 300px;
    background: rgba(5, 151, 160, 0.15);
}
.Flowerbaground3{
    width: 300px;
    height: 438px;
    margin: 15px;
    border-radius: 300px;
    background: rgba(71, 125, 17, 0.15);
}
.Flowerbaground4{
    width: 300px;
    height: 438px;
    margin: 15px;
    border-radius: 300px;
    background: rgba(86, 89, 228, 0.15);
}
.Flowerbaground5{
    width: 300px;
    height: 438px;
    margin: 15px;
    border-radius: 300px;
    background: rgba(220, 143, 34, 0.15);
}
.Flower1{
    width: 210px;
    height: 310px;
    margin: 50px 70px 70px 50px;
}
.Flower2{
    width: 270px;
    height: 270px; 
    margin: 50px 70px 70px 50px;
}
.Flower3{
    width: 200x;
    height: 300px;
    margin: 50px 70px 70px 50px;
}
.Flower4{
    width: 250px;
    height: 250px;
    margin: 50px 70px 70px 50px;
}
.Flower5{
    width: 314px;
    height: 314;
    margin: 50px 70px 70px 50px;
}