body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
.face{
    background-color: #E554731A;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
head{
    border: 0px;

}
.title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    margin: 197px 97px 32px 240px;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 171px 32px 240px;
}
.bannerflower{
    width: 635px;
    height: 800px;
    margin-right: 240px;
    margin-bottom: -5px;
    margin-top: 50px;
}
button{
    padding: 20px 43px;
    border: 0px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 240px;
}
.section2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-top: 210px;
    margin-bottom: 24px;
}
.section2text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 640px 24px 640px;
}
.flowerparent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flowerbaground1{
    margin: 12px;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.flowerbaground2{
    width: 464px;
    height: 538px;
    margin: 12px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.flowerbaground3{
    width: 464px;
    height: 538px;
    margin: 12px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.flower1{
    width: 310px;
    height: 428px;
    margin: 110px 78px 0px 76px;
}
.flower2{
    width: 370px;
    height: 370px; 
    margin: 117px 47px 51px 47px;
}
.flower3{
    width: 314px;
    height: 471px;
    margin: 67px 75px 0px 75px;
}
.flowercaption{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}